.app {
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
}

.login_app {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.app_body {
  display: flex;
  margin: 10px auto;
  margin-top: 35px;
  width: 80%;
}
