.feed {
  flex: 0.6;
  margin: 0 20px;
}

.feed_input_container {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.feed_input {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 30px;
  color: gray;
  padding: 10px;
  padding-left: 15px;
}

.feed_input > form {
  display: flex;
  width: 100%;
}

.feed_input > form > input {
  flex: 1;
  border: none;
  outline: none;
  font-weight: 600;
  margin-left: 10px;
}

.feed_input > form > button {
  display: none;
}

.feed_input_options {
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
}
